[submodule ".registry"]
	path = .registry
	url = https://github.com/gregorlueg/gregorlueg.r-universe.dev
	branch = HEAD
[submodule "bixverse"]
	path = bixverse
	url = https://github.com/GregorLueg/bixverse
	branch = v0.5.0
[submodule "bixverse.plots"]
	path = bixverse.plots
	url = https://github.com/GregorLueg/bixverse.plots
	branch = v0.2.5
[submodule "genewalkR"]
	path = genewalkR
	url = https://github.com/GregorLueg/genewalkR
	branch = v0.1.10
[submodule "manifoldsR"]
	path = manifoldsR
	url = https://github.com/GregorLueg/manifoldsR
	branch = v0.3.0
